/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

/* Estilos para la sección principal */
#hero {
    text-align: center;
    padding: 50px;
    background-image: url("textura_fondo.jpg");
    background-size: cover;
    color: white;
}

#hero img {
    max-width: 80%;
    height: auto;
}

/* Estilos para la sección de destacados */
#destacados {
    padding: 50px;
    text-align: center;
}

/* Estilos para las tarjetas de destacados */
.card {
    display: inline-block;
    margin: 20px;
    width: 30%;
    vertical-align: top;
}

.card img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el pie de página */
footer {
    background-color:
